body{
        background-image:url("http://s947.photobucket.com/user/Silver_Eyed_Crow/media/ba789b8f-eb3e-4de7-919d-3ebdee46376c_zps47ac2906.png.html?state=copy");
        background-repeat:no-repeat;
        background-position:right bottom
}

