body{
        background-image:url("http://i947.photobucket.com/albums/ad312/Silver_Eyed_Crow/ba789b8f-eb3e-4de7-919d-3ebdee46376c_zps47ac2906.png~original");
        background-repeat:no-repeat;
        background-position:right bottom
}

